*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: rgb(230, 227, 227);
}

.container{
  width: 25rem;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(189, 189, 189);
  border-radius: 10px;
}
.heading{
  text-align: center;
  margin-bottom: 20px;
}
.inputAndBtn{
  display: flex;
  align-items: center;
  gap: 10px;
}

#inputText{
  width: 100%;
  border: none;
  background-color: #f3f1f1;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.btn{
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn:active{
  scale: 0.8;
}
.btn:hover{
  transition: 0.2s;
}

.box{
 display: flex;
 align-items: center;
 gap: 10px;
 margin-top: 15px;
 background-color: #faf7f7;
 border-radius: 5px;
}

.para{
  padding-left: 10px;
  width: 100%;
  font-size: 16px;
}

.btn2{
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn2:active{
  scale: 0.8;
}
.btn2:hover{
  transition: 0.2s;
}

.btn3{
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.btn3:active{
  scale: 0.8;
}
.btn3:hover{
  transition: 0.2s;
}
